:host {
  min-width: 100%;
}

.fs {
  position: relative;
}

/* FIELD */
.fs__trigger {
  padding: 10px 12px;
  border-radius: 16px;
  border: 2px solid var(--black);
  outline: none;
  background: transparent;
  transition: ease-in-out .2s;
  font-size: 15px;
  min-width: 100%;
  text-align: left;
}

.fs__trigger:focus {
  border-color: var(--primary-2);
}

.fs__placeholder {
  color: #8a97a6;
  font-size: 15px;
  font-weight: 500;
}

/* when selected */
.fs .fs__placeholder:not(:empty) {
  color: #111;
}

/* ARROW */
.fs__arrow {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 7px solid #111;
  transition: transform 180ms ease;
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
}

.fs.is-open .fs__arrow {
  transform: translateY(-50%) rotate(180deg);
}

/* DISABLED */
.fs.is-disabled .fs__trigger {
  opacity: 0.6;
  cursor: not-allowed;
}

/* DROPDOWN */
.fs__dropdown {
  position: absolute;
  left: 0;
  right: 0;
  top: calc(100% - 2px);
  background: #fff;
  border: 2px solid #1d9bf0;
  border-top: 0;
  border-radius: 0 0 12px 12px;
  overflow: hidden;
  z-index: 999;
}

.fs__divider {
  height: 1px;
  background: #1d9bf0;
  opacity: 0.7;
}

.fs__option {
  width: 100%;
  padding: 12px 14px;
  background: #fff;
  border: 0;
  text-align: left;
  cursor: pointer;
  font-size: 16px;
  
  color: #111;
}

.fs__option:hover {
  background: #f3f8ff;
}

.fs__option.is-selected {
  background: #eaf4ff;
  font-weight: 600;
}

.fs__option.is-disabled {
  opacity: 0.45;
  cursor: not-allowed;
}